:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --main-white-color: #ffffff;
  --logo-studio-color: #000000;
  --first-background-color: #2f303a;
  --second-background-color: #f5f4fa;
  --contact-text-color: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--title-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.button {
  cursor: pointer;
}

/* Nav */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-web {
  color: var(--accent-color);
}
.logo-studio {
  color: var(--logo-studio-color);
}

.nav-items .link {
  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-auth .link {
  color: var(--text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-items .link:focus,
.nav-items .link:hover,
.nav-auth .link:focus,
.nav-auth .link:hover {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--first-background-color);
}

.hero-title {
  color: var(--main-white-color);

  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero .button {
  color: var(--main-white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  vertical-align: middle;
}

/* Sections */

.features-title {
  font-weight: 700;
  font-size: 14px;
}

.description {
  color: var(--text-color);

  font-size: 14px;
  line-height: 1.71;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.profession {
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/*portfolio*/

.portfolio .button:focus,
.portfolio .button:hover {
  color: var(--main-white-color);
}

.portfolio .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.88;
}

/* Address */

.footer {
  background-color: var(--first-background-color);
}

.logo-studio-bottom {
  color: var(--main-white-color);
}

.address {
  color: var(--main-white-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.mail,
.mobile {
  color: var(--contact-text-color);

  font-size: 14px;
  line-height: 1.71;
}

.mail:hover,
.mail:focus,
.mobile:hover,
.mobile:focus {
  color: var(--accent-color);
}
